body,
body * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.app {
  width: 800px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
h1 {
  text-align: center;
  margin: 8px;
  font-size: 36px;
}

/* ------------- MAIN APP BODY --------------*/

.main-body-container {
  padding: 2%;
  border-radius: 10px;
  background-image: linear-gradient(to top, #e7f0fd 0%, #accbee 100%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* ------------- TOP CONTAINER --------------*/

.top-container {
  margin-bottom: 5px;
  height: 245px;
  margin: 0;
}

/* ------------- FIRST COLUMN --------------*/
.column-1 {
  display: inline-block;
  width: 33.33%;
  float: left;
  padding: 10px 0 0 20px;
}
.city-name {
  display: inline-block;
  width: 100%;
  font-size: 40px;
}
.today-description {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}
.main-temp {
  font-size: 105px;
}

.c-link,
.f-link,
.c-f-detail {
  position: relative;
  top: -60px;
  font-size: 20px;
  text-decoration: none;
}
.c-link,
.f-link {
  color: grey;
}
.active {
  color: black;
}
.not-active {
  color: grey;
  cursor: pointer;
}
.not-active:hover {
  color: black;
}

/* ------------- SECOND COLUMN --------------*/

.column-2 {
  display: inline-block;
  width: 33.33%;
  float: left;
}
div.column-2 canvas {
  display: inline-block;
  margin-left: calc((100% - 100px) / 2);
  width: auto;
  margin-top: 24px;
  margin-bottom: 10px;
}
.weather-details {
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 13px;
}
.feels-like,
#wind,
#humidity {
  font-size: 14px;
}
/* ------------- THIRD COLUMN --------------*/

.column-3 {
  display: inline-block;
  width: 33.33%;
  float: left;
}
.last-updated {
  font-size: 14px;
  margin: 0;
  text-align: right;
}

/* ------------- BOTTOM CONTAINER --------------*/

.bottom-container {
  display: inline-block;
  width: 100%;
}

/* ------------- FOOTER --------------*/

.code-by {
  margin-top: 10px;
  font-size: 12px;
  margin-left: 5px;
}
.github-icon {
  width: 18px;
}
