/* -------------- RESPONSIVE ---------------- */

.main-body-container {
  padding: 4%;
}

/* -------------- SEARCH CONTAINER ---------------- */
.search-container {
  display: grid;
}

/* -------------- TOP CONTAINER ---------------- */
.top-container {
  display: grid;
  gap: 30px 0;
}

/* -------------- COLUMN 1 ---------------- */

/* -------------- COLUMN 2 ---------------- */
.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column-2 .column-2-row-2 {
  margin-top: 10px;
}

/* -------------- COLUMN 3 ---------------- */
.local-time-line {
  text-align: right;
  margin-bottom: 15px;
}
.hourly-each {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* -------------- BOTTOM CONTAINER ---------------- */
.bottom-container .row {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}
.last-updated {
  font-size: 14px;
}


/* -------------- RESPONSIVE ENTRIES ---------------- */

/* -------------- X-SMALL screen --------------*/
@media(max-width: 576px) {
  .app {
    width: 350px;
  }
  /* ------------- TOP CONTAINER --------------*/
  .top-container {
    grid-template-columns: 1fr; 
  }
  /* ------------- COLUMN 1 --------------*/
  .column-1 {
  padding-left: 0;
  text-align: center;
  }
  /* ------------- COLUMN 2 --------------*/
  .column-2 {
  flex-direction: row;
  justify-content: center;
  }
  .column-2 .column-2-row-2 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.column-2 canvas {
    margin-left: 0;
    padding-right: 20px;
  }
  .weather-details {
    text-align: left;
  }
  /* ------------- COLUMN 3 --------------*/
  .column-3 {
    margin-bottom: 40px;
  }
  .last-updated {
    display: none;
  }
  .local-time-line {
    text-align: center;
    margin-bottom: 16px;
  }
  .hourly-each {
    justify-content: center;
  }
  .hourly-hour, .hourly-temp  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /* ------------- BOTTOM CONTAINER --------------*/
  .bottom-container .row {
    grid-template-columns: 1fr 1fr; 
  }
}

/* -------------- SMALL screen -------------- */
@media(min-width: 576px) {
  .main-body-container {
    padding: 2%;
  } 
  .app {
    width: 550px;
  }
  .top-container {
    grid-template-columns: 1fr 1fr 1fr;  
  }
  /* ------------- COLUMN 1 --------------*/
  .column-1 {
  padding-left: 10px;
  }
  /* ------------- COLUMN 3 --------------*/
  .hourly-each {
  margin-left: 35px;
  }
  .last-updated {
    font-size: 12px;
  }
}

/* -------------- MEDIUM screen -------------- */
@media(min-width: 768px) {
  .app {
    width: 700px;
  }
  .top-container {
    grid-template-columns: 1fr 1fr 1fr; 
  }
  /* ------------- COLUMN 1 --------------*/
  .column-1 {
  padding-left: 30px;
  }
  /* ------------- COLUMN 3 --------------*/
  .hourly-each {
  margin-left: 60px;
  }
  .last-updated {
    font-size: 14px;
  }
}

/* -------------- LARGE screen -------------- */
@media(min-width: 992px) {
  .app {
    width: 800px;
  }
  .top-container {
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

/* -------------- X-LARGE screen -------------- */
@media(min-width: 1200px) {
  .app {
    width: 900px;
  }
  .top-container {
    grid-template-columns: 1fr 1fr 1fr; 
  }
  
}